<!doctype html>
<html amp>
<meta charset="utf-8">
<script async src="https://cdn.ampproject.org/v0.js"></script>
<!--<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>-->
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>

<title>{{_(doc.title)}} – {{_(podspec.title)}}</title>
<link rel="canonical" href="/" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

<!-- Google Fonts -->
<link async rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
<link async rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >

<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
   
<style amp-custom>
  {% include "/dist/main.min.css" %}
</style>

<body>
  <header class="container zoom-header">
    <div class="row middle-xs">
      <div  class="col-xs-8 col-xs-offset-2 center-xs">
        <h1 class="title">
          <span class="indent">Bistro</span>
          <a href="{{g.doc('/content/pages/index.md', locale=doc.locale).url.path}}">
          <amp-img 
            src="{{g.static('/source/images/logo.png').url.path}}"
            width="56"
            height="56">
            <div fallback> offline </div>
          </amp-img>
          </a>
        </h1>
      </div>

      <i class="material-icons col-xs-2 " role="button" tabindex="1" on="tap:sidebar.toggle">menu</i>
    </div>
  </header>

    <amp-sidebar  id="sidebar" layout="nodisplay" side="right">
      <amp-img class="amp-close-image"
        src="{{g.static('/source/images/close.png').url.path}}"
        width="20"
        height="20"
        alt="close sidebar"
        on="tap:sidebar.close"
        role="button"
        tabindex="0"></amp-img>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li> 
          <a href="/cardapio"> 
            Cardapio 
          </a></li>
        <li> 
          <a href="/vinhos"> vinhos</a>
        </li>
        <li>
          <a href="/cerveja">
            Ceverja 
          </a>
        </li>
        <li>
          <a href="musica">Nossa Musica</a> 
        </li>
      </ul>
    </amp-sidebar>

  <main>    
    <!--main-->
    <section>
      {% block main %}
        {{doc.html|safe}}
      {% endblock %}
    </section>
  </main>

