{% extends "/views/base.html" %}

{% block main %}

<div class="row">
	<div class="col-xs-12 carousel-pratos">
		<h2 class="title">Conheça nossos Pratos</h2>
		<!--{% for page in g.docs('pages', locale=doc.locale) %}
			{{page}}
		{% endfor%}-->

		<amp-carousel type="slides"
			width="320"
			height="250"
			loop
			autoplay
			delay="3000"
			layout="responsive">
			<figure>
				<amp-img src="{{g.static('/source/images/pratos/prato1.png').url.path}}"
					layout="fill" alt="especialidade da casa"></amp-img>
				<amp-pinterest
					height=20
					width=40
					data-do="buttonPin"
					data-url="{{g.static('/source/images/pratos/prato1.png').url.path}}"
					data-media="{{g.static('/source/images/pratos/prato1.png').url.path}}"
					data-description="Prato: Demo">
				</amp-pinterest>
			</figure>
			
			<figure>
				<amp-img src="{{g.static('/source/images/pratos/prato2.jpg').url.path}}"
					layout="fill" alt="prato do ano"></amp-img>
				<amp-pinterest
					height=20
					width=40
					data-do="buttonPin"
					data-url="{{g.static('/source/images/pratos/prato2.jpg').url.path}}"
					data-media="{{g.static('/source/images/pratos/prato2.jpg').url.path}}"
					data-description="Prato: Demo">
				</amp-pinterest>
			</figure>
			
			<figure>
				<amp-img src="{{g.static('/source/images/pratos/prato3.jpg').url.path}}"
					layout="fill" alt="prato que fez historia no bistro"></amp-img>
				<amp-pinterest
					height=20
					width=40
					data-do="buttonPin"
					data-url="{{g.static('/source/images/pratos/prato3.jpg').url.path}}"
					data-media="{{g.static('/source/images/pratos/prato3.jpg').url.path}}"
					data-description="Prato: Demo">
				</amp-pinterest>
			</figure>
			
			<figure>
				<amp-img src="{{g.static('/source/images/pratos/prato4.jpg').url.path}}"
					layout="fill" alt="prato mais barato da casa"></amp-img>
				<amp-pinterest
					height=20
					width=40
					data-do="buttonPin"
					data-url="{{g.static('/source/images/pratos/prato4.jpg').url.path}}"
					data-media="{{g.static('/source/images/pratos/prato4.jpg').url.path}}"
					data-description="Prato: Demo">
				</amp-pinterest>
			</figure>
			
			<figure>
				<amp-img src="{{g.static('/source/images/pratos/prato5.jpg').url.path}}"
					layout="fill" alt="o prato mais pedido da casa"></amp-img>
				<amp-pinterest
					height=20
					width=40
					data-do="buttonPin"
					data-url="{{g.static('/source/images/pratos/prato5.jpg').url.path}}"
					data-media="{{g.static('/source/images/pratos/prato5.jpg').url.path}}"
					data-description="Prato: Demo">
				</amp-pinterest>
			</figure>
			
			<figure>
				<amp-img src="{{g.static('/source/images/pratos/prato6.jpg').url.path}}"
					layout="fill" alt="prato que comeu a rainha isabel"></amp-img>
				<amp-pinterest
					height=20
					width=40
					data-do="buttonPin"
					data-url="{{g.static('/source/images/pratos/prato6.jpg').url.path}}"
					data-media="{{g.static('/source/images/pratos/prato6.jpg').url.path}}"
					data-description="Prato: Demo">
				</amp-pinterest>
			</figure>
			
			<figure>
				<amp-img src="{{g.static('/source/images/pratos/paes.jpg').url.path}}"
					layout="fill" alt="nossos paes sao os melhores"></amp-img>
				<amp-pinterest
					height=20
					width=40
					data-do="buttonPin"
					data-url="{{g.static('/source/images/pratos/paes.jpg').url.path}}"
					data-media="{{g.static('/source/images/pratos/paes.jpg').url.path}}"
					data-description="Prato: Demo">
				</amp-pinterest>
			</figure>
		</amp-carousel>
		</a>
	</div>
</div>

 <div class="row">
	 <div class="col-xs-12">
		 <div class="box">
			<h2>Nossa Música</h2>
			<amp-carousel height="150"
				layout="fixed-height"
				type="carousel"
				autoplay
				loop
				delay="1000"	
				class="center">
				
				<figure>
					<amp-img src="{{g.static('/source/images/albuns/beethoven.jpg').url.path}}"
					width="150"
					height="150"
					class="albun"
					alt="a sample image"></amp-img>
				</figure>

				<figure>
					<amp-img src="{{g.static('/source/images/albuns/mozart.jpeg').url.path}}"
					width="150"
					height="150"
					class="albun"
					alt="and another sample image"></amp-img>
				</figure>

				<figure>
					<amp-img src="{{g.static('/source/images/albuns/recomposed1.jpg').url.path}}"
					width="150"
					height="150"
					class="albun"
					alt="and another sample image"></amp-img>
				</figure>

				<figure>
					<amp-img src="{{g.static('/source/images/albuns/ludovichio1.jpg').url.path}}"
					width="150"
					height="150"
					class="albun"
					alt="another sample image"></amp-img>
				</figure>

				<figure>
					<amp-img src="{{g.static('/source/images/albuns/hezekiah.jpg').url.path}}"
					width="150"
					height="150"
					class="albun"
					alt="another sample image"></amp-img>
				</figure>

				<figure>
					<amp-img src="{{g.static('/source/images/albuns/yiruma.jpg').url.path}}"
					width="150"
					height="150"
					class="albun"
					alt="and another sample image"></amp-img>
				</figure>
			</div>
		</amp-carousel>
	 </div>
 </div>

<div class="row">
	<div class="col-xs-12">
		<h2>Adega cheia de Vinhos</h2>
		
		<figure>
			<amp-img
			layout="responsive"
			width="300"
			height="187"
			src="{{g.static('/source/images/vinhos/wallpaper1.jpeg').url.path}}">
			</amp-img>
		</figure>
	</div>

</div>
  
 

{% endblock %}
