{% extends "/views/base.html" %}

{% block main %}

 <div class="row">
	 <div class="col-xs-12">
	 	<h2>Nossa Música</h2>
		<amp-carousel height="200"
			layout="fixed-height"
			autoplay
			delay="1000">
			<amp-img src="https://www.kboing.com.br/fotos/imagens/4bf19a741a9dc.jpg"
			width="200"
			height="200"
			alt="a sample image"></amp-img>
			<amp-img src="https://yt3.ggpht.com/-lUCM1sYpMPc/AAAAAAAAAAI/AAAAAAAAAAA/oJSG810bRFw/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"
			width="200"
			height="200"
			alt="another sample image"></amp-img>
			<amp-img src="https://yt3.ggpht.com/-lUCM1sYpMPc/AAAAAAAAAAI/AAAAAAAAAAA/oJSG810bRFw/s900-c-k-no-mo-rj-c0xffffff/photo.jpg"
			width="200"
			height="200"
			alt="and another sample image"></amp-img>
		</amp-carousel>
	 </div>
 </div>
  
 

{% endblock %}
