{% extends "/views/base.html" %}

{% block main %}
  <code>{{g.json('content/pages/dados.json').navbar.name}} </code> 
  {{doc.title}}
  {{doc.html|safe}}
  
  <amp-img width="200px" height="200px" layout="responsive" src="{{_(g.json('content/pages/dados.json').navbar.img)}}" alt="Welcome" height="400" width="800"></amp-img>
  
  <ul class="people">
    {% for person in doc.people %}
      <li>
        <div>
          <h3>{{_(person.name)}}</h3>
          <h4>{{_(person.title)}}</h4>
          <p>{{_(person.bio)}}
        </div>
    {% endfor %}
  </ul>

{% endblock %}
